
@font-face{                
	font-family: "Antique";
	src: url('antique_book_cover.otf');
}

header {
	
	background-color:#f99ad9;
	padding: 0px 0px 0px 0px;
	margin-bottom: 25px;
	
}


h1{
	color: white;
	font-size: 1000%;
	font-family: "Antique";
	text-align: middle;
	padding-bottom: 0px;
	margin-top: -30px;
	margin-bottom: 30px;
	background-color: #f99ad9;
}

nav ul li{

	display: inline-block;
	padding: 0px 70px 0px 70px;
	font-size: 500%;
	background-color: #f99ad9;
	font-family: Antique, DejaVu Serif;
	
	
}

#navigation {
	margin: 0px auto;
	text-align: center;

}
	
	
a{
	color: white;
	text-decoration: none;
	font-style: "Antique";
	
}

#logo{

	padding: 0px;
	margin: 0px auto;
	text-align: left;
	background-color: #f99ad9;
	
}









body{
	background-color: #ffffff;
	font-family: DejaVu Serif, Arial, Serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

p{
	color: black;
}


#homepageContent1{

	margin: 0px auto;
	text-align: center;
}

#homepageContent2, #button{

	margin: 0px auto;
	text-align: center;
	
}





h2 {

	
	display: inline-block;
	padding: 20px 70px 20px 70px;
	font-size: 350%;
	background-color: #255526;
	font-family: Antique, DejaVu Serif;
	color: white;
}
	



#aboutMainPic{

	float: left;
	padding: 0px 50px 80px 40px;
	margin-top:-10px;
	
	
}

#aboutWriting{

	text-align: left;
	font-size: 200%;
	margin-top: 10px;
	margin-right: 50px;
	font-family: DejaVu Serif, Arial;
	text-indent: 60px;
	padding-top: 50px;

}


#aboutPics{

	margin: 0px auto;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 120px;
	
}









#mediaTitle{

	color: black;
	font-size: 300%;
	text-align: center;
	font-family: Antique, DejaVu Serif;
	padding: 20px;
	
}


#media{

	color: balck;
	font-size: 500%;
	text-align: left;
	font-family: Antique, DejaVu Serif;
	font-style: "Antique";
	margin: 20px;

}


#photographyPics{

	margin: 0px auto;
	text-align: center;
}

#filmVids{

	margin: 0px auto;
	text-align: center;
	
}

#ceramicsPics{

	margin: 0px auto;
	text-align: center;
}

#watercolorPics{

	margin: 0px auto;
	text-align: center;
	padding: 40px;

}








#contact
{
	color:white;
	font-size: 300%;
	font-family: Antique;
	font-style: "Antique";
	margin-top: 0px;

}

#footeremail{ 
	background-color: #f99ad9;
	margin: auto;
	height: auto;
	padding: 100px;
	width: auto;
	display: block;
	float: none;
	text-align: center;
	font-size: 200%

}


/*
* {padding:0;
margin:0;
*/